<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/view.css" ></link>
        <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
        <script type="text/javascript" src="js/index.js" ></script>
        
    </head>
    <body>
        <div id="top_panel">
            <p>Labiod</p>
            <p>Status: <span id="status_field"></span></p>
            <p>Views: <span id="views_field"></span></p>
        </div>
        
    </body>
</html>
